*~
*.swp
*.o
*.txt
*.pdf
*.out
*.png
*.gif
*.lo
callgrind.out.*
tags
docs
workspace
main
Makefile
autom4te.cache/output.1
autom4te.cache/traces.1
config.h
config.log
config.status
doc/Makefile
lib/.deps/
lib/.libs/
lib/Makefile
*.la
*.pc
libtool
stamp-h1
tools/.deps/
tools/.libs/
tools/Makefile
tools/ThING-test
